name: Stock App CI/CD Pipeline

on:
  workflow_dispatch:

env:
  ROOT_PATH: ${{ github.workspace }}
  IMAGE_NAME: stock-app-homelab
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        run: pytest -v

      - name: Build Docker image (local only)
        run: |
          echo "Building local image ${IMAGE_NAME}:${IMAGE_TAG}"
          docker build -t ${IMAGE_NAME}:${IMAGE_TAG} .

      - name: Run container and test /prices endpoint
        run: |
          echo "Starting container from image ${IMAGE_NAME}:${IMAGE_TAG}"
          CONTAINER_ID=$(docker run -d -p 8000:8000 ${IMAGE_NAME}:${IMAGE_TAG})

          echo "Waiting for the API to start..."
          sleep 10

          echo "Calling http://localhost:8000/prices"
          set -e
          curl -f http://localhost:8000/prices

          echo "Stopping container..."
          docker stop "${CONTAINER_ID}"

  push-acr:
    runs-on: ubuntu-latest
    needs: build-test

    env:
    # TEMP: hardcode for debugging
      ACR_NAME: ${{ secrets.ACR_NAME }}
      IMAGE_NAME: stock-app-homelab
      IMAGE_TAG: ${{ github.sha }}

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Ensure ACR_NAME is set
        run: |
          if [ -z "$ACR_NAME" ]; then
            echo "ERROR: ACR_NAME is empty. Did you create the ACR_NAME secret in GitHub?"
            exit 1
          fi
          echo "Using ACR_NAME (hidden): value is set."

      - name: Azure login (service principal via AZURE_CREDENTIALS)
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build image for ACR
        run: |
          IMAGE_FULL_NAME=${ACR_NAME}.azurecr.io/${IMAGE_NAME}
          echo "Building image ${IMAGE_FULL_NAME}:${IMAGE_TAG} for ACR"
          docker build -t ${IMAGE_FULL_NAME}:${IMAGE_TAG} .

      - name: Login to ACR
        run: |
          echo "Logging in to ACR ${ACR_NAME}..."
          az acr login --name ${ACR_NAME}

      - name: Push image to ACR
        run: |
          IMAGE_FULL_NAME=${ACR_NAME}.azurecr.io/${IMAGE_NAME}
          echo "Tagging image as ${IMAGE_FULL_NAME}:latest"
          docker tag ${IMAGE_FULL_NAME}:${IMAGE_TAG} ${IMAGE_FULL_NAME}:latest

          echo "Pushing images to ACR..."
          docker push ${IMAGE_FULL_NAME}:${IMAGE_TAG}
          docker push ${IMAGE_FULL_NAME}:latest

